<launch>
    <arg name="node_name" default="plane_filter_node"/>
    <arg name="input" default="your point cloud input"/>
    <arg name="output" default="your output topic name"/>
    
    <node name="plane_filter_node" pkg="plane_filter" type="plane_filter_node">
        <remap from="~input" to="$(arg input)"/>
        <remap from="~output" to="$(arg output)"/>
        <rosparam>
            distance_threshould: 1
            is_get_plane: true
        </rosparam>
    </node>
</launch>